---
import NewsletterPanel from '../components/NewsletterPanel.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Newsletter"
  description="Sign up for Jaclyn Osborn's newsletter."
>
  <section class="px-4 pt-8 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-7xl">
      <NewsletterPanel />
    </div>
  </section>
</BaseLayout>
